@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Dynamic Variables if needed */
}

body {
  @apply font-mono antialiased bg-white dark:bg-black text-primary transition-colors duration-300;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000;
  border-left: 1px solid #fff;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border: 1px solid #000;
}
