@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  color: #ffffff;
}

body {
  @apply font-mono bg-black text-white antialiased;
  /* Cyber-minimalism: No smooth scrolling, raw feel */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000;
  border-left: 1px solid #fff;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border: 1px solid #000;
}
